---
layout: default
---

<section class="single">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p class="subtitle">{{ page.date | date_to_long_string }}</p>

		{{ page.content }}

		<div id="disqus_thread" style="margin-top:25px"></div>
		<script>
		  var disqus_config = function () {
			this.page.url = '{{ page.url | absolute_url }}';
			this.page.identifier = '{{ page.url | absolute_url }}';
		  };
		  (function () {
			var d = document, s = d.createElement('script');
			s.src = 'https://daveabrock.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		  })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
			powered by Disqus.</a></noscript>